style
	| h1{color:"blue";
	|}
	| .facturaParc{
	|	padding-left: 40px;
	|	padding-right: 40px;
	|	color: #009ee5;
	|	font-size: 13px;
	|}
	| h1{color:"blue";}
	|/*   Estilos header   		++++++++++++*/
	| .cabecera{
	|	background: #fff;
	|}
	| .head img{
	|	height: 17%;
	|	width: 100%;
	|}
	| .serie{
	|	left: 25px;
	|}
	| .head ul{
	|	margin-top: 10px;
	|	margin-bottom: 10px;
	|}
	| .head li{
	|	display: block;
	|	margin-bottom: 5px;
	|	font-weight: bold;
	|}
	| .grupnls{
	|	margin-top: 6px;
	|}
	| .head .panel{
	|	border-radius: 0px;
	|	border-bottom: 1px solid #009ee5;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .head .panel-body{
	|	padding: 2px;
	|}
	| .head .panel-body p{
	|	margin: 0px 0 -1px;
	|}
	| .space{
	|	height: 40px;
	|}
	|/* Termina estilos header     	++++++++++++*/
	|/* Estilos Factura            	++++++++++++*/
	| .factura{
	| background: #eee;
	|}
	| .factura h5{
	|	color: #3f51b5;
	|	font-size: 30px;
	|}
	| .emisorFac{
	|	left: -20px;
	|}
	| .factura ul{
	|	margin-top: 4px;
	|	margin-bottom: 10px;
	|}
	| .factura li{
	|	display: block;
	|	margin-bottom: 11px;
	|}
	| .pnlsfactura{
	|	left: -14px;
	|	margin-top: 0px;
	|}
	| .factura .panel{
	|	border-radius: 0px;
	|	border: 1px solid #BFDDEF;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .factura .panel1{
	|	border-radius: 0px;
	|	border-left: 1px solid #BFDDEF;
	|	border-right: 1px solid #BFDDEF;
	|	border-bottom: 1px solid #BFDDEF;
	|	background-color: #fff;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .factura .panel2{
	|	border-radius: 0px;
	|	border-left: 1px solid #BFDDEF;
	|	border-right: 1px solid #BFDDEF;
	|	border-bottom: 1px solid #BFDDEF;
	|	background-color: #fff;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .factura .panel-body{
	|	padding: 5px;
	|}
	| .factura .panel-body p{
	|	margin: 0px 0 -1px;
	|	font-weight: bold;
	|}
	|/* Termina estilos header   	++++++++++++*/
	| h1{color:"blue";} .panel.body{border-radius: 0px 0px 0px 0px;-moz-border-radius: 0px 0px 0px 0px;-webkit-border-radius: 0px 0px 0px 0px;border:1px solid #BFDDEF;padding-left: 5px;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;}.azulclaro{color:#BFDDEF;}.azulrey{color:#094FA4;}.sp{padding-left: 0px;padding-right: 0px;}