style
	| h1{color:"blue";} .panel.body{border-radius: 0px 0px 0px 0px;-moz-border-radius: 0px 0px 0px 0px;-webkit-border-radius: 0px 0px 0px 0px;border:1px solid #BFDDEF;padding-left: 5px;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;}.azulclaro{color:#BFDDEF;}.azulrey{color:#094FA4;}