style
	| .facturaParc label{
	|	color: #094FA4;
	|	font-size: 14px;
	|	font-weight: normal;
	|}
	| .facturaParc{
	|	color: #009ee5;
	|	font-size: 13px;
	|}
	| .head{font-size:10px;}
	|/*   Estilos header   		++++++++++++*/
	| .cabecera{
	|	background: #fff;
	|}
	| .head img{
	|	height: 115px;
	|}
	| .head p{
	|	margin: 0px 0 3px;
	|}
	| .grupnls{
	|	margin-top: 3px;
	|}
	| .head .panel{
	|	border-radius: 0px;
	|	border-bottom: 1px solid #009ee5;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .head .panel-body{
	|	padding: 2px;
	|}
	| .head .panel-body strong{
	|	margin: 0px 0 -1px;
	|}
	| .space{
	|	height: 15px;
	|}
	|/* Termina estilos header     	++++++++++++*/
	|/* Estilos Factura            	++++++++++++*/
	| .factura{
	| background: #eee;
	|}
	| .factura h5{
	|	color: #3f51b5;
	|	font-size: 30px;
	|}
	| .emisorFac{
	|	left: -20px;
	|}
	| .factura .panel{
	|	border-radius: 0px;
	|	border: 1px solid #BFDDEF;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .factura .panel1{
	|	border-radius: 0px;
	|	border-left: 1px solid #BFDDEF;
	|	border-right: 1px solid #BFDDEF;
	|	border-bottom: 1px solid #BFDDEF;
	|	background-color: #fff;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .factura .panel2{
	|	border-radius: 0px;
	|	border-left: 1px solid #BFDDEF;
	|	border-right: 1px solid #BFDDEF;
	|	border-bottom: 1px solid #BFDDEF;
	|	background-color: #fff;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .factura .panel-body{
	|	padding: 14px;
	|}
	| .factura .panel-body strong{
	|	margin: 0px 0 -1px;
	|}
	| .panel-datos{
	|	border: 1px solid #e8ffff;
	|	background: #e8ffff;
	|	width: 100%;
	|	-webkit-border-radius: 1px;
	|	-moz-border-radius: 1px;
	|	border-radius: 1px;
	|}
	|.paneltx{
	|	text-align: center;
	|}
	|/* Termina estilos header   	++++++++++++*/
	| .bloque{
	|	background: #bfddef;
	|	margin: -6px;
	|	padding: 8px;
	|}
	| .panel2{
	|	border-radius: 0px;
	|	border-bottom: 1px solid #009ee5;
	|	margin-bottom: 0px;
	|	border-radius: 0px;
	|	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	|}
	| .panel-body2{
	|	padding: 2px;
	|}
	| .panel-body2 p{
	|	margin: 0px 0 -1px;
	|}
	|.panel.body{border-radius: 0px 0px 0px 0px;-moz-border-radius: 0px 0px 0px 0px;-webkit-border-radius: 0px 0px 0px 0px;border:1px solid #BFDDEF;padding-left: 5px;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;}.azulclaro{color:#BFDDEF;}.azulrey{color:#094FA4;}.sp{padding-left: 0px;padding-right: 0px;}.spt{margin-bottom: -21px;}.sellos span{font-size:6;}.sellos p{font-size:6px;}

