extends formatos

block footer

	table(width="1200")
		tr#contenido
			td
				table(width="100%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr#contenido
						td(colspan='5')
							p UNIDAD DE MEDIDA
						td(colspan='3')
							p CANTIDAD
						td(colspan='4')
							p NO. CUENTA 
					tr#contenido
						td(colspan='5')
							.panel.body 
								strong 1
						td(colspan='3')
							.panel.body 
								strong 1
						td(colspan='4')
							.panel.body 
								strong noidentificado
					tr#contenido
						td(colspan='4')
							p TIPO DE CAMBIO
						td(colspan='8')
							p MEDIO DE PAGO
					tr#contenido
						td(colspan='4')
							.panel.body
								strong 546789
						td(colspan='8')
							.panel.body
								strong 98765
					tr#contenido
						td(colspan='12')
							p RÉGIMEN FISCAL
					tr#contenido
						td(colspan='12')
							.panel.body
								strong regimen gral
			td
				table(width="90%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr#contenido
						td(colspan='12')
							p VALOR DE FACTURA
					tr#contenido
						td(colspan='4')
							p prima neta
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='4')
							p DERECHO
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='4')
							p RECARGOS
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='3')
							p I.V.A.
						td
							.panel.body
								strong 15%
						td
							p $
						td(colspan='7')
							.panel.body
								strong 2345356786970
					tr#contenido
						td(colspan='4')
							p IMPORTE TOTAL
						td
							p $
						td(colspan='7')
							.panel.body
								strong 8976

			table(width="100%")
				tr#contenido
					td(width="20%")
					td(width="80%")
				tr#contenido
					td
						img.img-responsive(src="../assets/img/qr_img.png")
					td
						table(width="100%")
							tr#contenido
								td
								td
								td
								td
								td
								td
								td
								td
								td							
							tr#contenido
								td(colspan='9')
									p CANTIDAD CON LETRA
									.panel.body
										strong 121313
							tr#contenido
								td(colspan='6')
									p LUGAR, FECHA Y HORA DE EMISIÓN
									.panel.body
										strong 121313									
								td(colspan='4')
									p FECHA DE GENARACIÓN
									.panel.body
										strong 121313

	#footer
		.container
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||
	
block nuevo
	table(width='1200', border='0', align='center')
	tr
		td
			table(width='90%', border='0', align='center')
				tr.head
					td(colspan='2', rowspan='5')
						img(src="../assets/img/seguros.jpg", alt="")
					td(width='26%')
						div(align='right')
							.grupnls
								p SERIE:
					td(width='22%')
						.panel.panel-undefined
							.panel-body
								strong KE
				tr.head
					td
						div(align='right')
							.grupnls
								p NO. DE SERIE DEL CERTIFICADO:
					td(width='22%')
						.panel.panel-undifined
							.panel-body
								strong 00001000000800751715
				tr.head
					td
						div(align='right')
							.grupnls
								p FOLIO FISCAL:
					td
						.panel.panel-undifined
							.panel-body
								strong XXX
				tr.head
					td
						div(align='right')
							.grupnls
								p FECHA Y HORA DE CERTIFICACIÓN:
					td
						.panel.panel-undifined
							.panel-body
							strong 2016-10-07T18:11:12
				tr.head
					td
						div(align='right')
							.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:
					td
						.panel.panel-undifined
							.panel-body
							strong 0
				tr.head
					td(width='23%')
						P.azulrey BBVA Bancomer	
					td(colspan='3', rowspan='4')  
				tr.head
					td
						P Domicilio Fiscal:
				tr.head
					td
						P Dirección.:
				tr.head
					td
						p R.F.C.:
				tr#contenido
					td(colspan='4')
							div(align='center')
								p
									strong FACTURA
			table(width='90%', border='0', align='center')
				tr#contenido
					td(height='23', colspan='2') Nombre del Interesado
					td(width='330') R.F.C. Contratante
				tr#contenido
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1  
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1 
				tr#contenido
					td(height='23', colspan='2') Domicilio, calle, y numero
					td Colonia, fraccionamiento o localidad
				tr#contenido
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1  
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1
			table(width='90%', border='0', align='center')
				tr#contenido
					td(height='23', colspan='2') Codigo Postal
					td(width='649') Ciudad
				tr#contenido
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1  
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1 
			table(width='90%', border='0', align='center')
				tr#contenido
					td(height='23', colspan='2') Estado
					td(width='330') Telefonos
				tr#contenido
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1  
					td(height='23', colspan='2')
						.panel.body
							p 
								strong 1 
			table(width='90%', border='0', align='center')
				tr#contenido
					td(width='50', height='23') Cantidad
					td(width='5')
					td(width='549') Descripción
					td(width='5')
					td(width='50') Precio
					td(width='5')
					td(width='50') Importe
				tr#contenido
					td(height='23')
						.panel.body
							p 
								strong 1  
					td(height='3')
					td(height='23')
						.panel.body
							p 
								strong 1    
					td(height='3') 
					td(height='23')
						.panel.body
							p 
								strong 1  
					td(height='3')
					td(height='23')
						.panel.body
							p 
								strong 1   