extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="../assets/img/bbva-salud.svg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE:
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong KE
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 00001000000800751715
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HORA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2016-10-07T18:11:12
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 0
						P.azulrey BBVA BANCOMER SEGUROS SALUD S.A. DE C.V. GRUPO FINANCIERO BBVA BANCOMER.
						P Domicilio Fiscal:
						P Dirección.:
						p R.F.C.:
						.space
block factura
		.factura
			.container
				.row
					.col-md-12.text-center
						h5 FACTURA
					.col-md-12
						.col-md-2.text-right
								p Nombre del Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Domicilio Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p RFC Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Régimen Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
				.space
				.space
block facturaTitulo
	.container.titulo
		.row
			.col-md-12.text-center
				p
					strong NOTA DE CREDITO
			.col-md-12
					P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
block pago
		.container
			.row
				.col-md-4
					label.facturaParc PAGO EN UNA SOLA EXHIBICION
				.col-md-8
block content
		#contenido
			.container
				.row
					.col-md-4
						p Seguro de
						.panel.body 
							strong Accidentes y Enfermedades
					.col-md-4
						p Póliza No.
						.panel.body
							strong 100741808
					.col-md-4
						p Inciso
						.panel.body
							strong 0
				.row
					.col-md-3
						p Moneda
						.panel.body
							strong PESOS
					.col-md-3
						p No.Cuenta de Pago
						.panel.body
							strong Pesos

					.col-md-6
						p Folio Fiscal Original:
						.panel.body
							strong xxx
				.row
					.col-md-4 
						p Serie Folio Fiscal Original
						.panel.body
							strong XXX
					.col-md-4
						p Fecha Folio Fiscal Original
						.panel.body
							strong XXX

					.col-md-4
						p  Monto Folio Fiscal Original:
						.panel.body
							strong $0.00
				.row
					.col-md-8
						p Nombre del contratante
						.panel.body
							strong PUBLICO EN GENERAL
					.col-md-4
						p R.F.C. Contratante
						.panel.body
							strong XAXX01010100
				.row
					.col-md-12
						p Domicilio Fiscal
						.panel.body
							strong RET SAC XIB Num. MZ 6 Int 29, COL. SMZ 26, CANCÚN, QUINTANA ROO, MÉXICO, C.P. 77509
					.col-md-6.sp
						.col-md-7
							p Unidad de Medida
							.panel.body
								strong SERVICIO
						.col-md-5
							p Cantidad
							.panel.body
								strong 1
						.col-md-4
							p Tipo de cambio
							.panel.body
								strong 1.00	
						.col-md-8
							p Medio de Pago
							.panel.body
								strong 99 OTROS	
						.col-md-12
							p Régimen Fiscal
							.panel.body
								strong RÉGIMEN GENERAL DE LEY PERSONAS MORALES
					.col-md-6.sp
						.col-md-12.sp.spt
							.col-md-12
								p.text-right VALOR TOTAL DE LA NOTA DE CREDITO
							.col-md-3.baja
								p.text-right Prima Neta $
							.col-md-9
								.panel.body
									strong $83.89
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Derecho $
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Recargos $
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right I.V.A.
									span.panel.body
										strong 16%
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Importe Total $
							.col-md-9
								.panel.body
									strong $83.89
block footer
	#footer
		.container
			.row
				.col-md-3.sp
					img(src="../assets/img/qr_img.png")
				.col-md-9.sp
					.col-md-12
						p IMPORTE CON LETRA					
						.panel.body 
							strong *** (OCHENTA Y TRES PESOS 89/100 M.N. )***
					.col-md-6
						p LUGAR, FECHA Y HORA DE EMISIÓN
						.panel.body 
							strong 2016-10-07T18:11:05		
					.col-md-6
						p FECHA DE GENERACIÓN
						.panel.body 
							strong 1 de August de 2016
					p.azulrey ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||