doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="icon",href="../../favicon.ico")
		title= title
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		include ../style

	body
		block header		
		#contenido
			.container
				.row
					.col-md-12
						p.text-center
							STRONG FACTURA
						P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA DE VENCIMIENTO.
					.col-md-12
						p.azulrey PAGO EN 12 PARCIALIDADES/PAGO EN UNA SOLA EXHIBICIÓN
				.row
					.col-md-4
						p Descripción
						.panel.body 
							strong SEGURO DE DAÑOS
					.col-md-2
						p Identificación(Póliza)
						.panel.body
							strong AA6ACMO28R
					.col-md-2
						p Identificación(Inciso)
						.panel.body
							strong 0
					.col-md-4
						p Identificación (Vigencia)
						.panel.body
							strong 6
				.row
					.col-md-4 
						p Periodo de Recibo (Día/Mes/ Año)
						.panel.body
							strong 06/03/2017 al 06/09/2017
					.col-md-4
						p Moneda:
						.panel.body
							strong pesos

					.col-md-4
						p R.F.C. Contratante:
						.panel.body
							strong PEPE4811128K2
				.row
					.col-md-12
						p Nombre del contratante
						.panel.body
							strong ERNESTINA PEREZ PERALTA
					.col-md-12
						p Domicilio Fiscal
						.panel.body
							strong CALZADA CONSTITUCIÓN Y BENJAMIN HILL 422, COL, LA MESA, SAN LUIS RÍO COLORADO, SONORA, MÉXICO, C.P. 834220
					.col-md-6.sp
						.col-md-12.sp
							.col-md-4
								p Unidad de Medida
								.panel.body
									strong SERVICIO
							.col-md-4
								p Cantidad
								.panel.body
									strong 1
							.col-md-4
								p NO. CUENTA DE PAGO
								.panel.body
									strong 30253
						.col-md-12.sp
							.col-md-4
								p TIPO DE CAMBIO
								.panel.body
									strong 1.00	
							.col-md-8
								p MEDIO DE PAGO
								.panel.body
									strong 03 TRANSFERENCIA ELECTRONICA DE FONDOS	
							.col-md-12
								p RÉGIMEN FISCAL
								.panel.body
									strong REGIMÉN GENERAL DE LEY PERSONAS MORALES
					.col-md-6.sp
						.col-md-12.sp
							.col-md-12
								p.text-right Valor de factura
						.col-md-12.sp.spt
							.col-md-3
								p.text-right PRIMA NETA
							.col-md-9
								.panel.body
										strong $350.00
						.col-md-12.sp.spt
							.col-md-3
								p.text-right DERECHO
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3
								p.text-right RECARGOS
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3
								p.text-right I.V.A.
									span.panel.body 16
							.col-md-9
								.panel.body
									strong $56.00
						.col-md-12.sp.spt
							.col-md-3
								p.text-right IMPORTE TOTAL
							.col-md-9
								.panel.body
									strong $406.00
		block footer