extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="../assets/img/bbva-seguros.svg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE:
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong FF
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 001001
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HORA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2012-09-20T13:34:34
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 0
						P.azulrey SEGUROS BBVA BANCOMER, S.A. DE C.V., GRUPO FINANCIERO BBVA BANCOMER.
						P DOMICILIO FISCAL:
						P Dirección.:
						p R.F.C.:
						.space
block factura
		.factura
			.container
				.row
					.col-md-12.text-center
						h5 Nota de Cargo
					.col-md-12
						.col-md-2.text-right
								p Nombre del Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Domicilio Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p RFC Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Régimen Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
				.space
				.space
block facturaTitulo
	.container
		.row
			.col-md-12
				h1.text-center FACTURA
block notaCargoTitulo
	.container.titulo
		.row
			.col-md-12.text-center
				p
					strong NOTA DE CARGO
			.col-md-12
					P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.			
block content
		#contenido
			.container
				.row
					.col-md-12
						p.azulrey PAGO EN UNA SOLA EXHIBICIÓN
				.row
					.col-md-4
						p Seguro de
						.panel.body 
							strong Accidentes
					.col-md-4
						p Póliza No.
						.panel.body
							strong CC5EB70W04
					.col-md-4
						p Inciso
						.panel.body
							strong 0
				.row
					.col-md-3 
						p Moneda:
						.panel.body
							strong DOLARES
					.col-md-3
						p No. Cuenta de Pago
						.panel.body
							strong NO IDENTIFICADO
					.col-md-6
						p Folio Fiscal Original:
						.panel.body
							strong XXX
				.row
					.col-md-4 
						p Serie Folio Fiscal Original
						.panel.body
							strong FF
					.col-md-4
						p Fecha Folio Fiscal Original
						.panel.body
							strong 2017-01-03T12:43:41

					.col-md-4
						p  Monto Folio Fiscal Original:
						.panel.body
							strong $ 82.13
				.row
					.col-md-8
						p Nombre del contratante
						.panel.body
							strong PUBLICO EN GENERAL
					.col-md-4
						p R.F.C. Contratante
						.panel.body
							strong XAXXA010101000
				.row
					.col-md-12
						p Domicilio Fiscal
						.panel.body
							strong PASEO DE LAS PALMAS NO.735 5TO PISO, COL, GUILLERMINA, DURANGO, DURANGO, MÉXICO, C.P.34270
block footer

	table(width="100%")
		tr#contenido
			td
				table(width="100%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr#contenido
						td(colspan='5')
							p UNIDAD DE MEDIDA
						td(colspan='3')
							p CANTIDAD
						td(colspan='4')
							p NO. CUENTA 
					tr#contenido
						td(colspan='5')
							.panel.body 
								strong 1
						td(colspan='3')
							.panel.body 
								strong 1
						td(colspan='4')
							.panel.body 
								strong noidentificado
					tr#contenido
						td(colspan='4')
							p TIPO DE CAMBIO
						td(colspan='8')
							p MEDIO DE PAGO
					tr#contenido
						td(colspan='4')
							.panel.body
								strong 546789
						td(colspan='8')
							.panel.body
								strong 98765
					tr#contenido
						td(colspan='12')
							p RÉGIMEN FISCAL
					tr#contenido
						td(colspan='12')
							.panel.body
								strong regimen gral


			td
				table(width="100%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr#contenido
						td(colspan='12')
							p VALOR DE FACTURA
					tr#contenido
						td(colspan='4')
							p prima neta
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='4')
							p DERECHO
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='4')
							p RECARGOS
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='3')
							p I.V.A.
						td
							.panel.body
								strong 15%
						td
							p $
						td(colspan='7')
							.panel.body
								strong 2345356786970
					tr#contenido
						td(colspan='4')
							p IMPORTE TOTAL
						td
							p $
						td(colspan='7')
							.panel.body
								strong 8976

	table(width="100%")
		tr#contenido
			td(width="20%")
			td(width="80%")
		tr#contenido
			td
				img.img-responsive(src="../assets/img/qr_img.png")
			td
				table(width="100%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td							
					tr#contenido
						td(colspan='9')
							p CANTIDAD CON LETRA
							.panel.body
								strong 121313
					tr#contenido
						td(colspan='6')
							p LUGAR, FECHA Y HORA DE EMISIÓN
							.panel.body
								strong 121313									
						td(colspan='4')
							p FECHA DE GENARACIÓN
							.panel.body
								strong 121313

	#footer
		.container
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||