extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="../assets/img/bbva-seguros.svg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE:
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong KE
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 001001
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HORA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2014-02-07T03:00:46
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 0
						P.azulrey SEGUROS BBVA BANCOMER, S.A. DE C.V., GRUPO FINANCIERO BBVA BANCOMER.
						P Domicilio Fiscal:
						.space
block factura
		.factura
			.container
				.row
					.col-md-12.text-center
						h5 FACTURA
					.col-md-12
						.col-md-2.text-right
								p Nombre del Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Domicilio Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p RFC Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Régimen Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
				.space
				.space
block facturaTitulo
	.container.titulo
		.row
			.col-md-12.text-center
				p
					strong FACTURA
			
block pago
		.container
			.row
				.col-md-4
					label.facturaParc PARCIALIDAD 4 DE 12
				.col-md-1
					label.facturaParc Anual
				.col-md-1.ajustePanel.panel.body
					strong 
				.col-md-1
					label.facturaParc Semestral
				.col-md-1.ajustePanel.panel.body
					strong
				.col-md-1
					label.facturaParc Trimestral
				.col-md-1.ajustePanel.panel.body
					strong
				.col-md-1
					label.facturaParc Mensual
				.col-md-1.ajustePanel.panel.body
					strong X
block content
		#contenido
			.container
				.row
					.col-md-8
						p.azulrey PAGO EN UNA SOLA EXHIBICIÓN
					.col-md-4
						.col-md-5
							p Folio Factura:
						.col-md-7
							.panel2.panel-undefined
								.panel-body2
									p 850780
				.row
					.col-md-8
						p Nombre del Interesado
						.panel.body
							strong MARIA CRISTINA PEREZ GIL SALCIDO
					.col-md-4
						p R.F.C. Contratante
						.panel.body
							strong PESC620129NNA
				.row
					.col-md-8
						p Domicilio: calle y número
						.panel.body
							strong CALVARIO Num. 79
					.col-md-4
						p Colonia, fraccionamiento o localidad
						.panel.body
							strong TLALPAN CENTRO, DISTRITO FEDERAL
				.row
					.col-md-4 
						p Código Postal
						.panel.body
							strong 14000
					.col-md-8
						p Ciudad
						.panel.body
							strong DISTRITO FEDERAL
				.row
					.col-md-8
						p Estado
						.panel.body
							strong DISTRITO FEDERAL
					.col-md-4
						p Teléfono(s)
						.panel.body
							strong XXX
				.row
					.col-md-2
						p Cantidad
						.bloque
							strong 1 
							br
					.col-md-8
						p.text-center Descripción
						.bloque
							strong PRIMA DE SEGUROS Accidentes y Enfermedades
							br
					.col-md-1
						p Precio
						.bloque
							strong$96.020.91
							br
					.col-md-1
						p Importe
						.bloque
							strong $96.020.91
							br
					.col-md-2
						.bloque
							strong 
					.col-md-8
						.bloque
							strong 
					.col-md-1
						.bloque
							strong
					.col-md-1
						.bloque
							strong
					.col-md-2
						.bloque
							strong
							br 
					.col-md-8
						.bloque
							strong 
							br
					.col-md-1
						.bloque
							strong
							br
					.col-md-1
						.bloque
							strong
							br
					.col-md-2
						.bloque
							strong
							br 
					.col-md-8
						.bloque
							strong 
							br
					.col-md-1
						.bloque
							strong
							br
					.col-md-1
						.bloque
							strong
							br  
				.space
				.row
					.col-md-8.sp
						.col-md-4
							p Unidad de Medida
							.panel.body
								strong XXX
						.col-md-4
							p Moneda
							.panel.body
								strong 1
						.col-md-4
							p No. Cuenta de Pago
							.panel.body
								strong NO IDENTIFICADO
					.col-md-4.sp
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Subtotal
							.col-md-9
								.panel.body
									strong $96,020.91
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right I.V.A.
									span.panel.body
										strong 16%
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Total $
							.col-md-9
								.panel.body
									strong $83.89
				.row
					.col-md-5
						p Régimen Fiscal
						.panel.body
							strong RÉGIMEN GENERAL DE LEY PERSONAS MORALES
					.col-md-2
						p Tipo de Cambio
						.panel.body
							strong XXX
					.col-md-5
						p Medio de Pago
						.panel.body
							strong XXX

block footer
	#footer
		.container
			.row
				.col-md-3.sp
					img(src="../assets/img/qr_img.png")
				.col-md-9.sp
					.col-md-12
						p IMPORTE CON LETRA					
						.panel.body 
							strong *** (CUARENTA Y UN MIL SETECIENTOS OCHENTA Y CUATRO PESOS 26/100 M.N. )***
					.col-md-6
						p LUGAR, FECHA Y HORA DE EMISIÓN
						.panel.body 
							strong 2014-02-07T02:00:46		
					.col-md-6
						p FECHA DE GENERACIÓN
						.panel.body 
							strong 1 de October de 2016
					p.azulrey ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||