extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="assets/img/bbva-bancomer.jpg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE:
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong KC
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HORA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2013-07-16T12:34:59
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
						P.azulrey SEGUROS BBVA BANCOMER, S.A. DE C.V., GRUPO FINANCIERO BBVA BANCOMER.
						P DOMICILIO FISCAL:
						P B88130810DZ2
						.space
block factura
		.factura
			.container
				.row
					.col-md-12.text-center
						h5 FACTURA
					.col-md-12
						.col-md-2.text-right
								p Nombre del Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Domicilio Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p RFC Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
					.col-md-12
						.col-md-2.text-right
								p Régimen Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong XXX
				.space
				.space
block facturaTitulo
	.container
		.row
			.col-md-12
				h1.text-center FACTURA
block pago
		.container
			.row
				.col-md-12
					P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
				.space
				.col-md-4
					label.facturaParc PARCIALIDAD 1 DE 12
block content
		#contenido
			.container
				.row
					.col-md-4
						p Seguro de
						.panel.body 
							strong Accidentes y Enfermedades
					.col-md-2
						p Póliza No.
						.panel.body
							strong G9C001H31K
					.col-md-2
						p Inciso
						.panel.body
							strong 1
					.col-md-4
						p Dias que Cubre
						.panel.body
							strong 242
				.row
					.col-md-4 
						p Periodo del Recibo (Día/Mes/ Año)
						.panel.body
							strong 27/01/2013 al 26/09/2013
					.col-md-4
						p Moneda:
						.panel.body
							strong Pesos

					.col-md-4
						p R.F.C. del Contratante
						.panel.body
							strong PINK970719UHA
				.row
					.col-md-12
						p Nombre del contratante
						.panel.body
							strong KAREN LIZETH PRIETO NIEVES
				.row
					.col-md-12
						p Domicilio Fiscal
						.panel.body
							strong EMILIANO ZAPATA, COL. CORRAL NUEVO, ACAYUCAN, VERACRUZ, MÉXICO, C.P.96110
					.col-md-6.sp
						.col-md-4
							p Unidad de Medida
							.panel.body
								strong XXX
						.col-md-4
							p Cantidad
							.panel.body
								strong 1
						.col-md-4
							p No. Cuenta de Pago
							.panel.body
								strong NO IDENTIFICADO
						.col-md-4
							p Tipo de cambio
							.panel.body
								strong XXX	
						.col-md-8
							p Medio de Pago
							.panel.body
								strong XXX	
						.col-md-12
							p Régimen Fiscal
							.panel.body
								strong RÉGIMEN GENERAL DE LEY PERSONAS MORALES
					.col-md-6.sp
						.col-md-12.sp.spt
							.col-md-12
								p.text-right VALOR DE FACTURA
							.col-md-6
								p.text-right Prima Neta $
							.col-md-6
								.panel.body
									strong $1,358.20
						.col-md-12.sp.spt
							.col-md-6
								p.text-right Derecho $
							.col-md-6
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-6
								p.text-right Recargos $
							.col-md-6
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-4
								p.text-right I.V.A.
							.col-md-2
								.panel.body
									strong 16%
							.col-md-6
								.panel.body
									strong $217.31
						.col-md-12.sp.spt
							.col-md-6
								p.text-right Importe Total $
							.col-md-6
								.panel.body
									strong $1,575.51
block footer
	#footer
		.container
			.row
				.col-md-3.sp
					img(src="assets/img/qr_img.png")
				.col-md-9.sp
					.col-md-12
						p IMPORTE CON LETRA					
						.panel.body 
							strong *** (UN MIL QUINIENTOS SETENTA Y CINCO PESOS 51/100 M.N. )***
					.col-md-6
						p LUGAR, FECHA Y HORA DE EMISIÓN
						.panel.body 
							strong 2013-07-16T12:34:39		
					.col-md-6
						p FECHA DE GENERACIÓN
						.panel.body 
							strong 1 de January de 2013
					p.azulrey ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||