doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="icon",href="../../favicon.ico")
		title= title
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		include ../style

	body
		.row.facturaParc
			.col-md-12
				label Recibo por el importe de la prima descrita, la cual cubre los días que se indican contados a aprtir de la fecha vencimiento.
			.col-md-12.col-xs-2
				 ul
				 	li PAGO EN UNA SOLA EXCIBICIÓN
					li Anual 
						input
					br
					li Semestral
						input
					br
					li Trimestral
						input
					br
					li Mensual
						input
					br

		
			

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
