extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="assets/img/bbva-bancomer.jpg", alt="")
						.col-md-4.text-right.serie
							ul
								li Serie:
								li Folio:
								li No. De certificado:
								li Folio fiscal (uuid):
								li Fecha y hora de timbrado:
								li No. De serie del Certificado sat:
								li Lugar de expedición:

						.col-md-4.text-left.grupnls
							.panel.panel-undefined
								.panel-body
									p FF
							.panel.panel-undifined
								.panel-body
									p 28872300a
							.panel.panel-undifined
								.panel-body
									p 100000040404099
							.panel.panel-undifined
								.panel-body
									p 029110cf-04fb-41ed-a798-035f062de987
							.panel.panel-undifined
								.panel-body
									p 2017-01-29t11:49:48
							.panel.panel-undifined
								.panel-body
									p 100000056345290
							.panel.panel-undifined
								.panel-body
									p Ciudad de México C.P. 11000
		.factura
			.container
				.row
					.col-md-12.text-center
						h5 FACTURA
					.col-md-2.emisorFac.text-left
						ul
							li Nombre del Emisor
							li Domicilio Fiscal
							li RFC Emisor
							li Régimen Fiscal
					.col-md-10.pnlsfactura
						.panel.panel-undifined
								.panel-body
									p Seguros BBVA Bancomer, S.A. de C.V., Grupo Financiero BBVA Bancomer.
						.panel1.panel-undifined
								.panel-body
									p xxxx
						.panel1.panel-undifined
								.panel-body
									p SSBB961118TIA
						.panel2.panel-undifined
								.panel-body
									P 601 GENERAL DE LEY DE PERSONAS MORALES
				.space		



block footer
	h1 footer