extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="../assets/img/bbva-salud.svg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong FF
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 000001000000202284364
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HOTA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2012-09-20T13:34:34
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 200010000005761
							.col-md-6.text-right.grupnls
								p Lugar de expedición:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
						P.azulrey SEGUROS BBVA BANCOMER, S.A. DE C.V., GRUPO FINANCIERO BBVA BANCOMER.
						P DOMICILIO FISCAL:
						P Dirección.:
						p R.F.C.:
						.space
							
		.space
block facturaTitulo
	.container.titulo
		.row
			.col-md-12
				p.text-center
					strong NOTA DE CARGO
		.row
			.col-md-12
				P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
block pago
		.container.wibe
			.row
				.space
				.space
				.col-md-4
					label.azulrey PAGO EN UNA 12 PARCIALIDADES
				.col-md-1
					label.azulrey Anual
				.col-md-1.ajustePanel.panel.body
					strong X
				.col-md-1
					label.azulrey Semestral
				.col-md-1.ajustePanel.panel.body
					strong
				.col-md-1
					label.azulrey Trimestral
				.col-md-1.ajustePanel.panel.body
					strong
				.col-md-1
					label.azulrey Mensual
				.col-md-1.ajustePanel.panel.body
					strong
block factura
		.factura
			.container
				.space
				.space
				.col-md-12
					.col-md-2.text-right
							p Nombre del Emisor
					.col-md-10
						.panel.panel-undefined
							.panel-body
								strong 
				.col-md-12
					.col-md-2.text-right
							p Domicilio Fiscal
					.col-md-10
						.panel.panel-undefined
							.panel-body
								strong
				.col-md-12
					.col-md-2.text-right
							p RFC Emisor
					.col-md-10
						.panel.panel-undefined
							.panel-body
								strong
				.col-md-12
					.col-md-2.text-right
							p Régimen Fiscal
					.col-md-10
						.panel.panel-undefined
							.panel-body
								strong
			.space
			.space
block content
		#contenido
			.container
				.row
					.col-md-5
						p Seguro de
						.panel.body 
							strong Accidentes y Enfermedades
					.col-md-4
						p Póliza No.
						.panel.body
							strong PB1218
					.col-md-3
						p Inciso
						.panel.body
							strong 3
				.row
					.col-md-4
						p Moneda:
						.panel.body
							strong Pesos
					.col-md-4
						p No. Cuenta de Pago:
						.panel.body
							strong NO IDENTIFICADO

					.col-md-4
						p Folio Fiscal Original:
						.panel.body
							strong XXX
				.row
					.col-md-5 
						p Serie Folio Fiscal Original
						.panel.body
							strong XXX
					.col-md-4
						p Fecha Folio Fiscal Original
						.panel.body
							strong XXX
					.col-md-3
						p  Monto Folio Fiscal Original:
						.panel.body
							strong $0.00
				.row
					.col-md-8
						p Nombre del contratante
						.panel.body
							strong SERVS WORLD ACCEPTANCE CORPORATION DE MÉXICO, S DE RL DE CV
					.col-md-4
						p R.F.C. del Contratante
						.panel.body
							strong 8WA050523UZ2
				.row
					.col-md-12
						p Domicilio Fiscal
						.panel.body
							strong AV. RAFAEL PEREZ SERNA Num.951 Int-3, COL PARQUE INDUSTRIAL OMEGA, JUAREZ, CHIHUHUA, MÉXICO, C.P.32410
								br
							br
				.row
					.col-md-2
						p Cantidad
						.bloque
							strong 1 
								br
							br
					.col-md-8
						p.text-center Descripción
						.bloque
							strong PRIMA DE SEGUROS Accidentes y Enfermedades
								br
							br
					.col-md-1
						p Precio
						.bloque
							strong$96.020.91
								br
							br
					.col-md-1
						p Importe
						.bloque
							strong $96.020.91
								br
							br
					.col-md-2
						.bloque
							strong
								br
							br 
					.col-md-8
						.bloque
							strong
								br
							br 
					.col-md-1
						.bloque
							strong
								br
							br
					.col-md-1
						.bloque
							strong
								br
							br
					.col-md-2
						.bloque
							strong
								br
							br 
					.col-md-8
						.bloque
							strong
								br
							br 
					.col-md-1
						.bloque
							strong
								br
							br
					.col-md-1
						.bloque
							strong
								br
							br

				.space
				.row
					.col-md-6.sp
						.col-md-8
							p Unidad de Medida
							.panel.body
								strong SERVICIO
						.col-md-4
							p Cantidad
							.panel.body
								strong 1
						.col-md-4
							p Tipo de cambio
							.panel.body
								strong 1.00	
						.col-md-8
							p Medio de Pago
							.panel.body
								strong 99 OTROS	
						.col-md-12
							p Régimen Fiscal
							.panel.body
								strong RÉGIMEN GENERAL DE LEY PERSONAS MORALES
block footer

	table(width="100%")
		tr#contenido
			td
<<<<<<< HEAD
				table(width="100%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr#contenido
						td(colspan='5')
							p UNIDAD DE MEDIDA
						td(colspan='3')
							p CANTIDAD
=======
				table(width='90%', border='1', align='center')
					tr.head
						td(colspan='2', rowspan='5')
							img(src="../assets/img/seguros.jpg", alt="")
						td(width='26%')
							div(align='right')
								.grupnls
									p SERIE:
						td(width='22%')
							.panel.panel-undefined
								.panel-body
									strong KE
					tr.head
						td
							div(align='right')
								.grupnls
									p NO. DE SERIE DEL CERTIFICADO:
						td(width='22%')
							.panel.panel-undifined
								.panel-body
									strong 00001000000800751715
					tr.head
						td
							div(align='right')
								.grupnls
									p FOLIO FISCAL:
						td
							.panel.panel-undifined
								.panel-body
									strong XXX
					tr.head
						td
							div(align='right')
								.grupnls
									p FECHA Y HORA DE CERTIFICACIÓN:
						td
							.panel.panel-undifined
								.panel-body
									strong 2016-10-07T18:11:12
					tr.head
						td
							div(align='right')
								.grupnls
									p NO. DE SERIE DEL CERTIFICADO SAT:
						td
							.panel.panel-undifined
								.panel-body
									strong 0
					tr.head
						td(width='23%')
							P.azulrey BBVA Bancomer	
						td(colspan='3', rowspan='4')  
					tr.head
						td
							P Domicilio Fiscal:
					tr.head
						td
							P Dirección.:
					tr.head
						td
							p R.F.C.:
					tr
>>>>>>> 280e0cf64230b7dad89a5fdaa48044c252788995
						td(colspan='4')
							p NO. CUENTA 
					tr#contenido
						td(colspan='5')
							.panel.body 
								strong 1
						td(colspan='3')
							.panel.body 
								strong 1
						td(colspan='4')
							.panel.body 
								strong noidentificado
					tr#contenido
						td(colspan='4')
							p TIPO DE CAMBIO
						td(colspan='8')
							p MEDIO DE PAGO
					tr#contenido
						td(colspan='4')
							.panel.body
								strong 546789
						td(colspan='8')
							.panel.body
								strong 98765
					tr#contenido
						td(colspan='12')
							p RÉGIMEN FISCAL
					tr#contenido
						td(colspan='12')
							.panel.body
								strong regimen gral


			td
				table(width="100%")
					tr#contenido
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
						td
					tr#contenido
<<<<<<< HEAD
						td(colspan='12')
							p VALOR DE FACTURA
=======
						td(colspan='4')  
							p Domicilio Fiscal
							.panel.body
								strong RET SAC XIB Num. MZ 6 Int 29, COL. SMZ 26, CANCÚN, QUINTANA ROO, MÉXICO, C.P. 77509
									br
								br
block sucio
				table(width='100%', border='1' align='center')
>>>>>>> 280e0cf64230b7dad89a5fdaa48044c252788995
					tr#contenido
						td(colspan='4')
							p prima neta
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='4')
							p DERECHO
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='4')
							p RECARGOS
						td
							p $
						td(colspan='7')
							.panel.body
								strong 875586586
					tr#contenido
						td(colspan='3')
							p I.V.A.
						td
							.panel.body
								strong 15%
						td
							p $
						td(colspan='7')
							.panel.body
								strong 2345356786970
					tr#contenido
<<<<<<< HEAD
						td(colspan='4')
							p IMPORTE TOTAL
						td
							p $
						td(colspan='7')
							.panel.body
								strong 8976

	table(width="100%")
		tr#contenido
			td(width="20%")
			td(width="80%")
		tr#contenido
			td
				img.img-responsive(src="../assets/img/qr_img.png")
			td
				table(width="100%")
=======
						td(colspan='3')
						td
							p.text-right Recargos $
						td
							.panel.body
									strong $0.00
>>>>>>> 280e0cf64230b7dad89a5fdaa48044c252788995
					tr#contenido
						td(colspan='3')
						td
							p.text-right I.V.A.
								span.panel.body 
									strong 16%
						td
<<<<<<< HEAD
						td
						td
						td
=======
							.panel.body
									strong $0.00
					tr#contenido
						td(rowspan='3')
							img(src="../assets/img/qr_img.png")   
						td
						td  
>>>>>>> 280e0cf64230b7dad89a5fdaa48044c252788995
						td
							p.text-right Importe Total $
						td
<<<<<<< HEAD
						td
						td							
					tr#contenido
						td(colspan='9')
							p CANTIDAD CON LETRA
							.panel.body
								strong 121313
=======
							.panel.body
									strong $83.89  
					tr#contenido
						td(colspan='4')
>>>>>>> 280e0cf64230b7dad89a5fdaa48044c252788995
					tr#contenido
						td(colspan='6')
							p LUGAR, FECHA Y HORA DE EMISIÓN
							.panel.body
								strong 121313									
						td(colspan='4')
							p FECHA DE GENARACIÓN
							.panel.body
								strong 121313

	#footer
		.container
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||