extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="assets/img/bbva-bancomer.jpg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong FF
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 000001000000202284364
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HOTA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2012-09-20T13:34:34
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 200010000005761

						P.azulrey SEGUROS BBVA BANCOMER, S.A. DE C.V., GRUPO FINANCIERO BBVA BANCOMER.
						P DOMICILIO FISCAL:
						.space
							.col-md-6.text-right.grupnls
								p Lugar de expedición:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
		.space
block leyenda
	#contenido
		.container
			.row
				.col-md-12
					p.text-center
						STRONG FACTURA
					P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
					.space
block content
	#contenido
		.container
			.row
				.col-md-3
					p SEGURO DE
					.panel.body 
						strong DAÑOS
				.col-md-3
					p PÓLIZA NO.
					.panel.body
						strong AA6ACMO28R
				.col-md-3
					p INCISO
					.panel.body
						strong 0
				.col-md-3
					p DÍAS QUE CUBRE
					.panel.body
						strong 6
			.row
				.col-md-5
					p periodo del recibo
					.panel.body 
						strong lorem
				.col-md-3
					p moneda
					.panel.body
						strong  lorem
				.col-md-4
					p folio fiscal original
					.panel.body
						strong  lorem
			.row
				.col-md-4
					p serie folio fiscal original
					.panel.body 
						strong lorem
				.col-md-4
					p fecha folio fiscal original
					.panel.body
						strong lorem
				.col-md-4
					p monto folio fiscal original
					.panel.body
						strong lorem
			.row
				.col-md-8
					p nombre del contratante
					.panel.body 
						strong lorem
				.col-md-4
					p r.f.c. contratante
					.panel.body
						strong lorem
			.row
				.col-md-12
					p domicilo fiscal
					.panel.body
						strong lorem
				.col-md-6.sp
					.col-md-12.sp
						.col-md-4
							p UNIDAD DE MEDIDA
							.panel.body
								strong SERVICIO
						.col-md-4
							p CANTIDAD
							.panel.body
								strong 1
						.col-md-4
							p NO. CUENTA DE PAGO
							.panel.body
								strong 30253
					.col-md-12.sp
						.col-md-4
							p TIPO DE CAMBIO
							.panel.body
								strong 1.00	
						.col-md-8
							p MEDIO DE PAGO
							.panel.body
								strong 03 TRANSFERENCIA ELECTRONICA DE FONDOS	
						.col-md-12
							p RÉGIMEN FISCAL
							.panel.body
								strong REGIMÉN GENERAL DE LEY PERSONAS MORALES
				.col-md-6.sp
					.col-md-12.sp
						.col-md-12
							p.text-right VALOR DE FACTURA
					.col-md-12.sp.spt
						.col-md-3
							p.text-right PRIMA NETA
						.col-md-9
							.panel.body
									strong $350.00
					.col-md-12.sp.spt
						.col-md-3
							p.text-right DERECHO
						.col-md-9
							.panel.body
								strong $0.00
					.col-md-12.sp.spt
						.col-md-3
							p.text-right RECARGOS
						.col-md-9
							.panel.body
								strong $0.00
					.col-md-12.sp.spt
						.col-md-3
							p.text-right I.V.A.
								span.panel.body 16
						.col-md-9
							.panel.body
								strong $56.00
					.col-md-12.sp.spt
						.col-md-3
							p.text-right IMPORTE TOTAL
						.col-md-9
							.panel.body
								strong $406.00						
block pago
		.container
			.row
				
				.col-md-4
					label.facturaParc PAGO EN UNA SOLA EXCIBICIÓN
				.col-md-1
					label.facturaParc Anual
				.col-md-1.ajustePanel.panel.body
					strong X
				.col-md-1
					label.facturaParc Semestral
				.col-md-1.ajustePanel.panel.body
					strong
				.col-md-1
					label.facturaParc Trimestral
				.col-md-1.ajustePanel.panel.body
					strong
				.col-md-1
					label.facturaParc Mensual
				.col-md-1.ajustePanel.panel.body
					strong

block factura
		.factura
			.container
				.row
					.col-md-12.text-center
						h5 FACTURA
					.col-md-12
						.col-md-2.text-right
								p Nombre del Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong 
					.col-md-12
						.col-md-2.text-right
								p Domicilio Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong
					.col-md-12
						.col-md-2.text-right
								p RFC Emisor
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong
					.col-md-12
						.col-md-2.text-right
								p Régimen Fiscal
						.col-md-10
							.panel.panel-undefined
								.panel-body
									strong
				.space
				.space
block footer
	#footer
		.container
			.row
				.col-md-3.sp
					img(src="assets/img/qr_img.png")
				.col-md-9.sp
					.col-md-12
						p IMPORTE CON LETRA					
						.panel.body 
							strong *** (CUATROCIENTOS SEIS PESOS 07/100 M.N. )***
					.col-md-6
						p LUGAR, FECHA Y HORA DE EMISIÓN
						.panel.body 
							strong 2017-03-10T12:2356		
					.col-md-6
						p FECHA DE GENERACIÓN
						.panel.body 
							strong 08 de March de 2017
					p.azulrey ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI
			.row.sellos
				.col-md-12
					p SELLO DIGITAL DEL CFDI:
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
				.col-md-12
					p SELLO DEL SAT:
					p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
				.col-md-12
					p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||