extends formatos

block nuevoheader
	table(width='100%', border='0', align='center')
		tr
			td
				table(width='95%', border='0', align='center')
					tr.head
						td(colspan='2', rowspan='5')
							img(src="../assets/img/bbva-salud.svg", alt="")
						td(width='26%')
							div(align='right')
								.grupnls
									p SERIE:
						td(width='22%')
							.panel.panel-undefined
								.panel-body
									strong KE
					tr.head
						td
							div(align='right')
								.grupnls
									p NO. DE SERIE DEL CERTIFICADO:
						td(width='22%')
							.panel.panel-undifined
								.panel-body
									strong 00001000000800751715
					tr.head
						td
							div(align='right')
								.grupnls
									p FOLIO FISCAL:
						td
							.panel.panel-undifined
								.panel-body
									strong XXX
					tr.head
						td
							div(align='right')
								.grupnls
									p FECHA Y HORA DE CERTIFICACIÓN:
						td
							.panel.panel-undifined
								.panel-body
									strong 2016-10-07T18:11:12
					tr.head
						td
							div(align='right')
								.grupnls
									p NO. DE SERIE DEL CERTIFICADO SAT:
						td
							.panel.panel-undifined
								.panel-body
									strong 0
					tr.head
						td(colspan='4')
							P.azulrey BBVA Bancomer Seguros Salud S.A. de C.V., Grupo Financiero BBVA Bancomer.
						td(colspan='3', rowspan='4')  
					tr.head
						td
							P Domicilio Fiscal:
					tr.head
						td
							P Dirección.:
					tr.head
						td
							p R.F.C.:
block nuevoContent
	table(width='100%', border='0', align='center')
		tr
			td
				table(width='95%', border='0', align='center')
					tr
						td(colspan='12')
							div(align='center')
								p
									strong FACTURA
					tr
						td(colspan='12')
							P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
					tr
						td(colspan='1')
								label.facturaParc PAGO EN UNA SOLA EXHIBICION
						td(colspan='1',align='center')
								label.facturaParc Anual
						td(colspan='1')
							.ajustePanel.panel.body
								strong X
						td(colspan='1', align='center')
								label.facturaParc Semestral
						td(colspan='1')
							.ajustePanel.panel.body
								strong
						td(colspan='1', align='center')
								label.facturaParc Trimestral
						td(colspan='1')
							.ajustePanel.panel.body
								strong
						td(colspan='1', align='center')
								label.facturaParc Mensual
						td(colspan='1')
							.ajustePanel.panel.body
								strong 
					tr#contenido
						td(colspan='3')
							p Seguro de
							.panel.body 
								strong VIDA
						td(colspan='3')
							p Póliza No.
							.panel.body
								strong 100741808  
						td(colspan='3')
							p Inciso
							.panel.body
								strong 0
						td(colspan='3').completo
							p Dias que Cubre
							.panel.body
								strong 31
					tr#contenido
						td(colspan='4')
							p Periodo del Recibo (Día/Mes/ Año)
							.panel.body
								strong 29/07/2016 al 29/08/2016 
						td(colspan='4')
							p Moneda:
							.panel.body
								strong Pesos
						td(colspan='4').completo
							p Folio Fiscal Original:
							.panel.body
								strong XXX
					tr#contenido
						td(colspan='4')
							p Serie Folio Fiscal Original
							.panel.body
								strong XXX
						td(colspan='4')
							p Fecha Folio Fiscal Original
							.panel.body
								strong XXX
						td(colspan='4').completo
							p  Monto Folio Fiscal Original:
							.panel.body
								strong $0.00
					tr#contenido
						td(colspan='8')
							p Nombre del contratante
							.panel.body
								strong PUBLICO EN GENERAL
						td(colspan='4').completo
							p R.F.C. del Contratante
							.panel.body
								strong XAXX010101000
					tr#contenido
						td(colspan='12').completo  
							p Domicilio Fiscal
							.panel.body
								strong RET SAC XIB Num. MZ 6 Int 29, COL. SMZ 26, CANCÚN, QUINTANA ROO, MÉXICO, C.P. 77509
									br
								br
block nuevofooter
	table(width='100%', border='0', align='center')
		tr
			td
				table(width='95%', border='0', align='center')
					tr#contenido
						td
							table(width='100%', border='0', align='center')
								tr#contenido
									td
									td
									td
									td
									td
									td
									td
									td
									td
									td
									td
									td
								tr#contenido
									td(colspan='5')
										p UNIDAD DE MEDIDA
									td(colspan='3')
										p CANTIDAD
									td(colspan='4')
										p NO. CUENTA DE PAGO 
								tr#contenido
									td(colspan='5')
										.panel.body 
											strong NO APLICA
									td(colspan='3')
										.panel.body 
											strong 1
									td(colspan='4').completo
										.panel.body 
											strong NO IDENTIFICADO
								tr#contenido
									td(colspan='4')
										p TIPO DE CAMBIO
									td(colspan='8')
										p MEDIO DE PAGO
								tr#contenido
									td(colspan='4')
										.panel.body
											strong 546789
									td(colspan='8').completo
										.panel.body
											strong 98765
								tr#contenido
									td(colspan='12')
										p RÉGIMEN FISCAL
								tr#contenido
									td(colspan='12')
										.panel.body
											strong REGIMEN GENERAL DE LEY DE PERSONAS MORALES
						td
							table(width='100%', border='0', align='center')
								tr#contenido
									td
									td
									td
									td
									td
									td
									td
									td
									td
									td
									td
									td
								tr#contenido
									td(colspan='12',align='right')
										p VALOR DE FACTURA
								tr#contenido
									td(colspan='4',align='right')
										p prima neta
									td
										p $
									td(colspan='7')
										.panel.body
											strong $1.02
								tr#contenido
									td(colspan='4',align='right')
										p DERECHO
									td
										p $
									td(colspan='7')
										.panel.body
											strong $0.00
								tr#contenido
									td(colspan='4',align='right')
										p RECARGOS
									td
										p $
									td(colspan='7')
										.panel.body
											strong $0.00
								tr#contenido
									td(colspan='3',align='right')
										p I.V.A.
									td(colspan='1',align='right')
										.panel.body
											strong 0%
									td
										p $
									td(colspan='7')
										.panel.body
											strong $0.00
								tr#contenido
									td(colspan='4',align='right')
										p IMPORTE TOTAL
									td
										p $
									td(colspan='7')
										.panel.body
											strong $3,485,474.52

				table(width='95%', border='0', align='center')
					tr#contenido
						td(width="20%")
						td(width="80%")
					tr#contenido
						td
							img.img-responsive(src="../assets/img/qr_img.png")
						td
							table(width="100%")
								tr#contenido
									td
									td
									td
									td
									td
									td
									td
									td
									td							
								tr#contenido
									td(colspan='9').completo
										p IMPORTE CON LETRA
										.panel.body
											strong ***(TRES MILLONES CUATROCIENTOS OCHENTA Y CINCO MIL CUATROCIENTOS SETENTA Y CUATRO PESOS 52/100 M.N.)***
								tr#contenido
									td(colspan='6')
										p LUGAR, FECHA Y HORA DE EMISIÓN
										.panel.body
											strong 2016-10-2017T18:11:05
									td(colspan='4').completo
										p FECHA DE GENERACIÓN
										.panel.body
											strong 1 DE AUGUST DE 2016
				table(width='90%', border='0', align='center')
					tr#contenido
						td(width="100%", align="center")
							P.azulrey Este documento es una representación impresa de un CFDI
					tr
						td(colspan='12')
							#footer
								.container
									.row.sellos
										.col-xs-12
											p SELLO DIGITAL DEL CFDI:
											p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
										.col-xs-12
											p SELLO DEL SAT:
											p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
										.col-xs-12
											p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
											p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||