extends formatos

block nuevo
	table(width='1200', border='0', align='center')
		tr
			td
				table(width='90%', border='0', align='center')
					tr.head
						td(colspan='2', rowspan='5')
							img(src="../assets/img/seguros.jpg", alt="")
						td(width='26%')
							div(align='right')
								.grupnls
									p SERIE:
						td(width='22%')
							.panel.panel-undefined
								.panel-body
									strong KE
					tr.head
						td
							div(align='right')
								.grupnls
									p NO. DE SERIE DEL CERTIFICADO:
						td(width='22%')
							.panel.panel-undifined
								.panel-body
									strong 00001000000800751715
					tr.head
						td
							div(align='right')
								.grupnls
									p FOLIO FISCAL:
						td
							.panel.panel-undifined
								.panel-body
									strong XXX
					tr.head
						td
							div(align='right')
								.grupnls
									p FECHA Y HORA DE CERTIFICACIÓN:
						td
							.panel.panel-undifined
								.panel-body
									strong 2016-10-07T18:11:12
					tr.head
						td
							div(align='right')
								.grupnls
									p NO. DE SERIE DEL CERTIFICADO SAT:
						td
							.panel.panel-undifined
								.panel-body
									strong 0
					tr.head
						td(colspan='4')
							P.azulrey Seguros BBVA Bancomer, S.A. de C.V. Grupo Financiero BBVA Bancomer	
					tr.head
						td
							P Domicilio Fiscal:
						td(colspan='3', rowspan='3')
					tr.head
						td
							P Dirección.:
					tr.head
						td
							p R.F.C.:
					tr
						td(colspan='4')
							div(align='center')
								p
									strong FACTURA
					tr
						td(colspan='4')
							P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
					tr
						td(colspan='4')
							.container
								.row
									.col-md-4
										label.facturaParc PARCIALIDAD 4 DE 12
									.col-md-1
										label.facturaParc Anual
									.col-md-1.ajustePanel.panel.body
										strong X
									.col-md-1
										label.facturaParc Semestral
									.col-md-1.ajustePanel.panel.body
										strong
									.col-md-1
										label.facturaParc Trimestral
									.col-md-1.ajustePanel.panel.body
										strong
									.col-md-1
										label.facturaParc Mensual
									.col-md-1.ajustePanel.panel.body
										strong 
					tr#contenido
						td(width='22%')
							p Seguro de
							.panel.body 
								strong Vida
						td(width='22%')
							p Póliza No.
							.panel.body
								strong 100741808  
						td(width='22%')
							p Inciso
							.panel.body
								strong 0
						td(width='22%')
							p Dias que Cubre
							.panel.body
								strong 31
					tr#contenido
						td(colspan='2')
							p Periodo del Recibo (Día/Mes/ Año)
							.panel.body
								strong 29/07/2016 al 29/08/2016 
						td
							p Moneda:
							.panel.body
								strong Pesos
						td
							p Folio Fiscal Original:
							.panel.body
								strong XXX
					tr#contenido
						td(colspan='2')
							p Serie Folio Fiscal Original
							.panel.body
								strong XXX
						td
							p Fecha Folio Fiscal Original
							.panel.body
								strong XXX
						td
							p  Monto Folio Fiscal Original:
							.panel.body
								strong $0.00
					tr#contenido
						td(colspan='3')
							p Nombre del contratante
							.panel.body
								strong PUBLICO EN GENERAL
						td(colspan='1')
							p R.F.C. del Contratante
							.panel.body
								strong XAXX010101000
					tr#contenido
						td(colspan='4')  
							p Domicilio Fiscal
							.panel.body
								strong RET SAC XIB Num. MZ 6 Int 29, COL. SMZ 26, CANCÚN, QUINTANA ROO, MÉXICO, C.P. 77509
									br
								br