extends formatos

block header
		.cabecera.wibe
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="assets/img/9_de49op_400x400.jpg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE
							.col-md-6
								.panel.panel-undefined
									.panel-body
										strong FF
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 001001
							.col-md-6.text-right.grupnls
								p FOLIO FISCAL:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
							.col-md-6.text-right.grupnls
								p FECHA Y HORA DE CERTIFICACIÓN:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 2016-08-31T11:07:01
							.col-md-6.text-right.grupnls
								p NO. DE SERIE DEL CERTIFICADO SAT:	
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 0

						P.azulrey SEGUROS BBVA BANCOMER, S.A. DE C.V., GRUPO FINANCIERO BBVA BANCOMER.
						P DOMICILIO FISCAL:
						P dato
						.space
		.space
block facturaTitulo
		.container.titulo.wibe
			.row
				.col-md-12
					p.text-center
						STRONG NOTA DE CARGO
					P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
					.space
block content
	#contenido.wibe
		.container
			.row
				.col-md-12
					label.azulrey PAGO EN UNA SOLA EXHIBICIÒN
			.row
				.col-md-5
					p SEGURO DE
					.panel.body 
						strong VIDA
				.col-md-4
					p PÓLIZA NO.
					.panel.body
						strong 1866190005
				.col-md-3
					p INCISO
					.panel.body
						strong 0
			.row
				.col-md-4
					p Moneda
					.panel.body 
						strong PESOS
				.col-md-4
					p No. Cuenta de Pago
					.panel.body
						strong  62004
				.col-md-4
					p folio fiscal original
					.panel.body
						strong  XXX
			.row
				.col-md-5
					p serie folio fiscal original
					.panel.body 
						strong XXX
				.col-md-4
					p fecha folio fiscal original
					.panel.body
						strong XXX
				.col-md-3
					p monto folio fiscal original
					.panel.body
						strong $0.00
			.row
				.col-md-8
					p nombre del contratante
					.panel.body 
						strong CLAUDIA ALBARRAN GARCIA
				.col-md-4
					p r.f.c. contratante
					.panel.body
						strong AAGC760221BG3
			.row
				.col-md-12
					p domicilo fiscal
					.panel.body
						strong BENITO JUAREZ No. 26, COL PANOCHAYA, AMECAMECA, ESTADO DE MÈXICO, MÈXICO. C.P. 55900
							br
						br
				.col-md-6.sp
					.col-md-12.sp
						.col-md-6
							p UNIDAD DE MEDIDA
							.panel.body
								strong SERVICIO
						.col-md-6
							p CANTIDAD
							.panel.body
								strong 1
					.col-md-12.sp
						.col-md-4
							p TIPO DE CAMBIO
							.panel.body
								strong 1.00	
						.col-md-8
							p MEDIO DE PAGO
							.panel.body
								strong 03 TRANSFERENCIA ELECTRONICA DE FONDOS	
						.col-md-12
							p RÉGIMEN FISCAL
							.panel.body
								strong REGIMÉN GENERAL DE LEY PERSONAS MORALES
				.col-md-6.sp
					.col-md-12.sp
						.col-md-12
							p.text-right VALOR TOTAL DE LA NOTA DE CARGO
					.col-md-12.sp.spt
						.col-md-3.baja
							p.text-right PRIMA NETA
						.col-md-9
							.panel.body
									strong $40.50
					.col-md-12.sp.spt
						.col-md-3.baja
							p.text-right DERECHO
						.col-md-9
							.panel.body
								strong $0.00
					.col-md-12.sp.spt
						.col-md-3.baja
							p.text-right RECARGOS
						.col-md-9
							.panel.body
								strong $0.00
					.col-md-12.sp.spt
						.col-md-3.baja
							p.text-right I.V.A.
								span.panel.body
									strong 0
						.col-md-9
							.panel.body
								strong $0.00
					.col-md-12.sp.spt
						.col-md-3.baja
							p.text-right IMPORTE TOTAL
						.col-md-9
							.panel.body
								strong $40.50						
block footer
	#contenido.wibe
		#footer
			.container
				.row
					.col-md-3.sp
						img(src="assets/img/qr_img.png")
					.col-md-9.sp
						.col-md-12
							p IMPORTE CON LETRA					
							.panel.body 
								strong *** (CUARENTA PESOS 50/100 M.N. )***
						.col-md-6
							p LUGAR, FECHA Y HORA DE EMISIÓN
							.panel.body 
								strong 2016-08-31T11:07:01		
						.col-md-6
							p FECHA DE GENERACIÓN
							.panel.body 
								strong 17 de August de 2016
						p.azulrey ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI
				.row.sellos
					.col-md-12
						p SELLO DIGITAL DEL CFDI:
						p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
					.col-md-12
						p SELLO DEL SAT:
						p JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4Q8tBtk8y9HxFZRW9Kt9Wg pvubT2htAsutgB7PP6oxW JKDFdRdYAvHA+hCyzkLy5pjRFLhXxgxZdJ0xKN70eB2r7G68yiMyb/wrYR16jOzsgBh6ixp3pwjRM3uMb3rktyq3seohhIc1XJllBDpKhf5zcQ1QPunWm0Yay0Q/YaRgcZImHQ+kIyXIX4 Q8tBtk8y9HxFZRW9Kt9
					.col-md-12
						p CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT:
						p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||