extends formatos

block header
		.cabecera
			.container
				.row
					.col-md-12.head
						.col-md-4
							img(src="../assets/img/seguros.jpg", alt="")
						.col-md-8
							.space
							.col-md-6.text-right.grupnls
								p SERIE DEL CFD:
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong 001001
							.col-md-6.text-right.grupnls
								p FOLIO NO.
							.col-md-6
								.panel.panel-undifined
									.panel-body
										strong XXX
						.col-md-12
							P.azulrey BBVA BANCOMER
							P DOMICILIO FISCAL:
							.space

block facturaTitulo
	.container.titulo
		.row
			.col-md-12.text-center 
				p
					strong NOTA DE CRÉDITO				
block content
		#contenido
			.container
				.row
					.col-md-12
						P.azulrey RECIBO POR EL IMPORTE DE LA PRIMA DESCRITA, LA CUAL CUBRE LOS DIAS QUE SE INDICAN CONTADOS A PARTIR DE LA FECHA VENCIMIENTO.
				.row
					.col-md-12
						p.azulrey PAGO EN UNA SOLA EXHIBICIÓN
				.row
					.col-md-3
						p Seguro de
						.panel.body 
							strong Accidentes
					.col-md-3
						p Póliza No.
						.panel.body
							strong CC5EB70W04
					.col-md-3
						p Inciso
						.panel.body
							strong 0
					.col-md-3 
						p Moneda:
						.panel.body
							strong DOLARES
				.row
					.col-md-3
						p Folio Fiscal Original:
						.panel.body
							strong XXX
					.col-md-3 
						p Serie Folio Fiscal Original
						.panel.body
							strong FF
					.col-md-3
						p Fecha Folio Fiscal Original
						.panel.body
							strong 2017-01-03T12:43:41
					.col-md-3
						p  Monto Folio Fiscal Original:
						.panel.body
							strong $ 82.13
				.row
					.col-md-8
						p Nombre del contratante
						.panel.body
							strong PUBLICO EN GENERAL
					.col-md-4
						p R.F.C. Contratante
						.panel.body
							strong XAXXA010101000
				.row
					.col-md-12
						p Domicilio Fiscal
						.panel.body
							strong PASEO DE LAS PALMAS NO.735 5TO PISO, COL, GUILLERMINA, DURANGO, DURANGO, MÉXICO, C.P.34270
					.col-md-6.sp
						.col-md-6
							p Unidad de Medida
							.panel.body
								texto SERVICIO
						.col-md-6
							p Cantidad
							.panel.body
								texto 1
						.col-md-4
							p Tipo de cambio
							.panel.body
								texto 1.00	
						.col-md-8
							p Medio de Pago
							.panel.body
								texto 99 OTROS
						.col-md-12
							p Régimen Fiscal
							.panel.body
								texto RÉGIMEN GENERAL DE LEY PERSONAS MORALES
					.col-md-6.sp
						.col-md-12.sp.spt
							.col-md-12
								p.text-right NOTA DE CREDITO
							.col-md-3.baja
								p.text-right Prima Neta $
							.col-md-9
								.panel.body
									strong $ 41.06
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Derecho $
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Recargo $
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right I.V.A. $
							.col-md-9
								.panel.body
									strong $0.00
						.col-md-12.sp.spt
							.col-md-3.baja
								p.text-right Importe Total $
							.col-md-9
								.panel.body
									strong $ 41.06
block footer
	#footer
		.container
			.row
				.col-md-3.sp
					img(src="../assets/img/qr_img.png")
				.col-md-9.sp
					.col-md-12
						p IMPORTE CON LETRA					
						.panel.body 
							strong *** (CUARENTA Y UN DOLARES 06/100 USCY. )***
					.col-md-6
						p LUGAR DE EXPEDICIÓN
						.panel.body 
							strong Mexico, D.F. a 2 August de 2012	
			.row.sellos
				.col-md-12
					p CADENA ORIGINAL
					p ||1.0|605CAD59-C767-4304-AF59-87A7F018953F|2017-01-27T11:22:05| lVLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZXH /WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5GXS EJnDcOSTjwLtKQ==|00001000000404490387||
				.col-md-12
					p SELLO DIGITAL
					p VLFu3HDW/iIZUlO/Ie+iieY7O k7b4cVxr7CYQDMR44gm75zePl8bW5wAV8b6ckaJMTwcr8SdebibN5I9DM3Ejo8IRutBlW/e7eTzwVm2bhh0tTz1H4d3HBhxsg5BvH31I7qzN+IAF0bZpV8ijvjWr0OYXR5tDO9ZX H/WLgsY/B/11l/pq6WnbxkwhT455tJhPC9VoT+mbB/rJ25AQnI53eLYYTJLnzy66JAlqiuvGHsBUwxotCVImd6iJ8MECGtIsCaN237dFhE8Uzj5gGhqPNxx5fxvMvVlaSzHjqGWOipKPUfXRgB1r0kpwBYHE/RnK5 GXSEJnDcOSTjwLtKQ==
			
		#contenido
			.container
				.row
					.col-md-12
						p.azulrey ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI
				.row
					.col-md-3
						p No. de Aprobación
						.panel.body
							strong XXX
					.col-md-3 
						p Año de Aprobación
						.panel.body
							strong XXX
					.col-md-3
						p No. de Serie del CSD
						.panel.body
							strong 00001000000202284701
					.col-md-3
						p  No. Cuenta de Pago
						.panel.body
							strong 52369