doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="icon",href="../../favicon.ico")
		title= title
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		include ../style

	body

		block header
			.row.facturaParc
				.col-md-12
					label Recibo por el importe de la prima descrita, la cual cubre los días que se indican contados a aprtir de la fecha vencimiento.
				.col-md-12.col-xs-2
					ul
						li PAGO EN UNA SOLA EXCIBICIÓN
						li Anual 
							input
						br
						li Semestral
							input
						br
						li Trimestral
							input
						br
						li Mensual
							input
						br
		.panels-des1
			.container
				.row
					.col-md-12
						.col-md-1
							p.paneltx Cantidad
								.panel.panel-datos
									strong 1
									br
									strong 1
									br
									strong 1
									br
									strong 1
									br
									strong 1
						.col-md-9
							p.paneltx Descripcion
							.panel.panel-datos
								strong Prima de Seguros de Vida
								br
								strong 1
								br
								strong 1
								br
								strong 1
								br
								strong 1
						.col-md-1
							p.paneltx Precio
							.panel.panel-datos
								strong $41.35
								br
								strong 1
								br
								strong 1
								br 
								strong 1
								br
								strong 1
						.col-md-1
							p.paneltx Importe
							.panel.panel-datos
								strong $41.35
								br
								strong 1
								br
								strong 1
								br
								strong 1
								br
								strong 1
		block footer
